.BannerSection{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.BannerSection video{
    width: 100%;
    height: 100%;
    display: block;
}

.HeroScreen{
    position: relative;
    /* cursor: url(../../public/images/Asset2.svg), auto; */
    height: calc(100vh - 81px);
    margin-top: 81px;
}

.NextSection{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: 0 auto;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translate(0px, 100%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.NavLoad .NextSection{
    transform: translate(0px, -15%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

video{
    object-fit: cover;
}

.mobile-only{
    display: none;
}


@media(max-width: 991px){
    video{
        object-fit: fill;
    }
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display: block;
    }
}