.CreateSection {
    /* padding: 70px 70px 70px; */
    /* background-color: transparent;
    background-image: url(../../public/images/CreateSection.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    align-items: center;
    justify-content: center; */
    display: flex;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.CreateSection h2 {
    background: -webkit-linear-gradient(45deg, #571fdf, #a925d7 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 76px;
    text-transform: uppercase;
    margin: 0px;
}

.CreateSection h3 {
    background: -webkit-linear-gradient(45deg, #571fdf, #a925d7 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 33px;
    text-transform: uppercase;
    margin: 20px 0px;
}

.flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.btn-theme {
    background: url(../../public/images/btn-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 40px;
    border-radius: 50px;
    display: flex;
    font-size: 21px;
    text-transform: uppercase;
    position: relative;
    max-width: 420px;
    align-items: center;
    justify-content: space-between;
    margin: 35px auto 0 auto;
    z-index: 2;
}

.btn-shadow {
    content: "";
    background: url(../../public/images/btn-dotted.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 124px;
    position: absolute;
    background-size: contain;
    z-index: 1;
    max-width: 420px;
    margin: 0 auto;
}

.btn-theme:hover {
    background: -webkit-linear-gradient(45deg, #571fdf, #a925d7 80%);
    color: #fff;
}

.btn-wrapp {
    position: relative;
    pointer-events: auto !important;
    height: 65px;
}

.scene {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
}

.starImage {
    -webkit-animation: rotating 40s linear infinite;
    animation: rotating 40s linear infinite;
    width: 676px;
    height: 554px;
}

.starImage img {
    width: 100% !important;
}

.btn-theme img {
    height: 25px !important;
}

.contentSide {
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.StarSide {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    position: relative;
}

.slick-prev{
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 99;
    border: none;
    font-size: 0px;
    background-image: url(../../public/images/back-angle.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 28px;
    background-color: transparent;
}

.slick-next{
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 99;
    border: none;
    font-size: 0px;
    background-image: url(../../public/images/next-angle.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 28px;
    background-color: transparent;
}

.StarSide p {
    font-size: 11px;
    color: #11112d;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}

.text-update p {
    margin: 0 auto 80px auto;
    font-size: 26px;
    color: #0a0b13;
    max-width: 100%;
    line-height: 45px;
    max-width: 1080px;
}

.create-flex {
    flex-direction: column;
}

.wording {
    background-image: url(../../public/images/create-wording.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0px;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mobile-only{
    display: none;
}

.diagram{
    width: 60%;
    background-color: #FF0000;
    float: left;
    height: auto;
    padding: 120px 240px 100px;
}

.section-content {
    width: 40%;
    float: left;
    padding: 90px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.section-content p {
    font-size: 22px;
    color: #000;
    margin: 0;
    max-width: 100%;
    font-weight: 300;
    text-align: left;
    line-height: 35px;
}

@media(max-width: 1600px){
    .CreateSection p{
        padding: 0 55px;
    }
}

@media(max-width: 1400px) {
    .CreateSection h2 {
        font-size: 66px;
    }

    .CreateSection h3 {
        font-size: 28px;
        margin: 0px 0px 20px;
    }

    .section-content{
        padding: 90px 35px;
    }

    .section-content p {
        font-size: 18px;
        line-height: 28px;
    }

    .diagram {
        padding: 120px 190px 100px;
    }

    .Offer .section-title-layout h2 {
        font-size: 136px;
        line-height: 100px;
    }

    .Offer p {
        font-size: 38px;
        line-height: 38px;
    }

    .section-title-layout h2{
        font-size: 115px;
    }
}

@media(max-width: 1199px){
    .wording{
        min-height: 460px;
    }
    .CreateSection p {
        max-width: 530px;
        font-size: 19px;
        margin-left: -60px;
    }
}

@media(max-width: 991px) {
    .CreateSection {
        padding: 0px 20px 0px;
        overflow: hidden;
    }

    .CreateSection .flex {
        flex-direction: column;
    }

    .starImage {
        margin-top: 80px;
    }

    .CreateSection h2 {
        font-size: 42px;
    }

    .gallery{
        padding: 0px;
    }

    .category h2{
        font-size: 14px;
        padding: 0 15px;
    }

    .newsHeader {
        margin: 0px 0px 30px 0px;
        flex-direction: column;
    }

    .newsHeader div {
        width: 100%;
    }
    
    .newsHeader h3 {
        font-size: 33px;
        margin: 50px 55px;
        text-align: center;
    }

    .News {
        padding: 80px 0px;
    }

    .wording{
        min-height: 550px;
    }

    .CreateSection h3 {
        font-size: 18px;
        margin: 10px 0px;
    }

    .what{
        height: 80vh;
    }

    .what p{
        font-size: 22px;
    }

    .CreateSection p {
        font-size: 25px;
        margin-left: -50px;
        padding: 0 30px;
    }
    .HeroScreen {
        height: calc(55vh - 81px);
        margin-top: 81px;
    }

    .offer-text {
        background-size: contain;
        background-position: center top 0px;
    }
    
    .Offer {
        padding: 40px 0px 10px 0px;
    }    

    .Offer h2 {
        font-size: 25px;
        margin-top: 95px;
    }
    

    .btn-theme {
        padding: 20px 70px;
    }

    .contentSide {
        width: 100%;
    }

    .StarSide {
        width: 100%;
    }

    .slick-list p {
        font-size: 10px !important;
    }
}

@media(max-width: 767px) {
    .CreateSection {
        padding: 40px 0px 60px 0px;
        overflow: hidden;
    }

    .CreateSection .flex {
        flex-direction: column;
    }

    .starImage {
        margin-top: 80px;
    }

    .CreateSection h2 {
        font-size: 42px;
    }

    .CreateSection h3 {
        font-size: 18px;
        margin: 10px 0px;
    }

    .CreateSection p {
        font-size: 16px;
    }

    .btn-theme {
        padding: 20px 70px;
    }

    .text-update p {
        line-height: 24px;
    }

    .starImage {
        animation: rotating 40s linear infinite;
        width: 100%;
        height: 100%;
    }

    .btn-theme {
        padding: 20px 50px;
        font-size: 14px;
    }

    .wording {
        padding: 0px;
        min-height: 280px;
    }

    .CreateSection {
        padding: 0px 15px 30px 15px;
        display: block;
    }

    .CreateSection p {
        font-size: 13px;
    }

    .CreateSection p {
        max-width: 100%;
        margin: 0 auto;
    }

    .wording p{
        display: none;
    }

    .desktop-only{
        display: none;
    }

    .mobile-only{
        display: block;
    }

    .HeroScreen {
        height: 100%;
    }

    .Started h2 {
        font-size: 32px;
    }
    .CreateSection p {
        font-size: 18px;
        padding: 0;
    }
    
}